.claim-input {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.input-wrapper {
  display: flex;
  gap: 12px;
  margin-top: var(--spacing-8);
  align-items: center;
}

@media (max-width: 768px) {
  .claim-input {
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .input-wrapper {
    flex-direction: column;
    gap: 12px;
  }
}
